.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: #000;
  color: #fff;
  gap: 40px;
  a {
    text-decoration: none;
  }

  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    color: #fff;
  }
  .active {
    color: red;
    text-decoration: underline;
  }
}
